@font-face {
  font-family: 'Epilogue';
  src: 
    url('/fonts/Epilogue-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Epilogue-Regular.woff') format('woff'),
    url('/fonts/Epilogue-Regular.ttf')  format('truetype'),
    url('/fonts/Epilogue-Regular.svg#Epilogue-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Epilogue';
  src: 
    url('/fonts/Epilogue-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Epilogue-Bold.woff') format('woff'),
    url('/fonts/Epilogue-Bold.ttf')  format('truetype'),
    url('/fonts/Epilogue-Bold.svg#Epilogue-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Epilogue';
  src: 
    url('/fonts/Epilogue-Italic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Epilogue-Italic.woff') format('woff'),
    url('/fonts/Epilogue-Italic.ttf')  format('truetype'),
    url('/fonts/Epilogue-Italic.svg#Epilogue-Bold') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Fraunces';
  src: url('/fonts/Fraunces[SOFT,WONK,opsz,wght].ttf')  format('truetype');
}

@font-face {
  font-family: 'Fraunces';
  src: url('/fonts/Fraunces-Italic[SOFT,WONK,opsz,wght].ttf')  format('truetype');
  font-style: italic;
}