.grid {
  display: flex;
  flex-flow: row wrap;
  margin-left: calc(-1 * var(--Grid__gutter));

  @media (--desktop) {
    margin-left: calc(-1 * var(--Grid__gutter));
  }
}

.grid__item {
  width: 100%;
  padding-left: var(--Grid__gutter);

  @media (--desktop) {
    padding-left: var(--Grid__gutter);
  }
}