.Calendar {
	padding-top: var(--spacing-2);
	padding-bottom: var(--spacing-3);
}

.Calendar__nav {
	display: flex;
	border-bottom: 2px solid var(--off-black);
	padding-bottom: var(--spacing);

	& > * + * {
		display: block;
		margin-left: var(--spacing-2);
	}
}

.Calendar__title {
	line-height: 1;
	border-top: 3px solid var(--off-black);
	padding-top: var(--spacing);
}

.Calendar__days {
	& > * {
		@media (--desktop) {
			@mixin gridItemWidth 12/7;
		}

		&:nth-child(7n + 6),
		&:nth-child(7n + 7) {
			.Day {
				border: 1px solid color-mod(var(--black) a(0.1));
			}
		}
	}
}

.Calendar__heading {
	& > * {
		padding-bottom: calc(0.5 * var(--spacing));
		border-bottom: 1.5px solid var(--off-black);
		margin-bottom: var(--spacing);
	}
}