.button {
	display: inline-block;
	width: auto;
	padding: 10px 20px;
	background-color: var(--light-grey);
	color: var(--off-black);
	border-radius: 3px;
}

.button--outline {
	color: var(--off-black);
	border: 1px solid var(--light-grey);
}

.button--black {
	color: var(--white);
	background-color: var(--off-black);
}