.Day {
	display: flex;
	flex-direction: column;
	background-color: color-mod(var(--neutral-light-grey) a(0.1));
	padding: var(--spacing);
	border-radius: 3px;
	margin-bottom: var(--spacing);

	&--withEntries {
		background-color: var(--dark-green);

		.Day__date {
			justify-content: flex-start;
		}
	}

	&--today {
		.Day__date__number {
			border: 2px solid var(--red);
		}
	}
}

.Day__date {
	width: 100%;
	margin-top: -3px;
	margin-bottom: -3px;
	justify-content: space-between;
}

.Day__newEntry {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 25px;
	width: 40px;
	border-radius: 3px;
	margin-left: var(--spacing);
	background-color: color-mod(var(--light-grey) a(0.1));
	border: 1px solid color-mod(var(--light-grey) a(0.1));
}

.Day__entries {
	flex: 1;
}

.Day__date__number {
	display: inline-flex;
	height: 32px;
	width: 32px;
	justify-content: center;
	align-items: center;
	border-radius: 100px;
	background: color-mod(var(--neutral-light-grey) a(0.1));
	letter-spacing: -0.05em;
	padding-right: 1px;
	padding-top: 3px;
}

.Day__entry {
	display: flex;
	align-items: flex-start;
	margin-top: 10px;

	&--unencrypted {
		color: var(--red);
	}

	.Icon {
		margin-right: 4px;
	}
	
	a {
		font-size: 14px;
		letter-spacing: -0.02em;

		&::after {
			display: none;
		}
	}

	p {
		line-height: 1.2;
		flex: 1;
	}
}