.cover {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
}

.cover > * {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cover > .cover-content {
  margin-top: auto;
  margin-bottom: auto;
}

.cover > :first-child:not(.cover-content) {
  margin-top: 0;
}

.cover > :last-child:not(.cover-content) {
  margin-bottom: 0;
}