.EncryptedNotice {
  display: flex;
  align-items: baseline;
  padding: 12px 12px;
  border-radius: 3px;

  &--encrypted {
    background-color: var(--dark-green);
  }

  &--unencrypted {
    background-color: var(--red);
    color: var(--neutral-off-black);
  }

  .Icon {
    margin-right: 10px;
  }

  span {
    position: relative;
    top: 2px;
  }
}