.EncryptedNotice {
  display: flex;
  align-items: baseline;
  background-color: transparent;

  &--encrypted {
    color: var(--light-green);
  }

  &--unencrypted {
    color: var(--red);
  }

  .serif & {
    position: relative;
    font-size: 16px;

    span {
      top: 0;
    }

    .Icon {
      position: relative;
      top: -2px;
    }
  }

  .Icon {
    margin-right: 10px;
  }

  span {
    position: relative;
    top: 2px;
  }
}
