.EncryptedNotice {
  display: flex;
  align-items: baseline;
  padding: 10px;
  border-radius: 3px;

  &--encrypted {
    background-color: var(--dark-green);
  }

  &--unencrypted {
    background-color: var(--red);
    color: var(--neutral-off-black);
  }

  .serif & {
    position: relative;
    font-size: 16px;

    span {
      top: 0;
    }

    .Icon {
      position: relative;
      top: -2px;
    }
  }

  .Icon {
    margin-right: 10px;
  }

  span {
    position: relative;
    top: 2px;
  }
}