.TypeSelector {
  border: 1px solid var(--neutral-light-grey);
  display: flex;
  border-radius: 3px;
  font-size: 20px;

  & > * + * {
    border-left: 1px solid var(--neutral-light-grey);
  }

  &__button {
    padding: 5px 8px;

    &--serif {
      font-family: var(--serif);

      .serif & {
        background-color: color-mod(var(--neutral-light-grey) a(0.1));
      }
    }

    &--sans {
      font-family: var(--font);
      padding-top: 7px;
      padding-bottom: 2px;
      background-color: color-mod(var(--neutral-light-grey) a(0.1));

      .serif & {
        background-color: transparent;
      }
    }
  }
}