.TypeSelector {
  border: 1px solid var(--neutral-light-grey);
  display: flex;
  border-radius: 3px;

  & > * + * {
    border-left: 1px solid var(--neutral-light-grey);
  }

  &__button {
    padding: 5px 8px;

    &--serif {
      font-family: var(--serif);
    }

    &--sans {
      font-family: var(--font);
      padding-top: 7px;
      padding-bottom: 2px;
    }
  }
}